/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General */
html {
  font-size: 14px;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}
h2,
h3 {
  font-weight: 700;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}
h2 {
  font-size: 3.5rem;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
}
h4 {
  font-size: 1.7rem;
  margin-bottom: 1.1rem;
  letter-spacing: 1px;
}
p,
a {
  font-size: 1.2rem;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
input:not(input[type="submit"]),
textarea {
  font-family: "Merriweather", serif;
  padding: 1.5rem;
  border: 0.2rem solid darkslateblue;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

label {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 255, 0.2); */
  background-color: darkslateblue;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem 0rem 0 0.3rem;
  align-self: flex-start;
  margin-bottom: -1rem;
  position: relative;
  z-index: 3;
}
main {
  max-width: 1130px;
  margin: 0 auto;
}

section {
  margin: 2rem 0;
  padding: 2rem;
}

.color-darkblue {
  color: darkslateblue;
}

.btn {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  background-color: darkslateblue;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  border-radius: 0.5rem;
  letter-spacing: 1px;
}

/* ===== 1.Banner Section ===== */
.section-banner {
  display: flex;
}
.banner-title {
  border-left: 1rem solid darkslateblue;
  padding-left: 2rem;
}
.banner-content {
  flex-basis: 40%;
  flex-grow: 1;
}
.banner-content p {
  margin-bottom: 1.5rem;
}
.banner-image-wrapper {
  display: flex;
  justify-content: center;
}
.banner-image-wrapper > div {
  background: linear-gradient(45deg, cyan, darkslateblue);
  width: 80%;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

/* ====== 2.Skill Section ======  */
.skill-item-container {
  display: flex;
}
.skill-item {
  padding: 2rem;
  margin: 0 1.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 2, 222, 0.3);
}

.skill-item-container > div:first-child {
  margin-left: 0;
}
.skill-item-container > div:last-child {
  margin-right: 0;
}

/* ====== 3.Services Sections ====== */
.service-item {
  display: flex;
  margin-bottom: 3rem;
}

.service-image {
  max-width: 40%;
}

.service-content {
  flex-basis: 50%;
  flex-grow: 1;
  align-self: center;
  padding: 3rem;
}

.service-content > p {
  margin-bottom: 2rem;
}

.service-item:nth-child(even) {
  flex-direction: row-reverse;
}

.service-item:nth-child(even) .service-content {
  padding-left: 0;
}

/* ========== 4.Contact Section ========= */
.contact-area {
  display: flex;
}
.contact-metainfo {
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 40%;
  padding: 2rem;
  padding-left: 0;
}
.form-row {
  display: flex;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input[name="subject"],
textarea {
  width: 100%;
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem;
}
