/* ========== Reset ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========== General ========== */
html {
  font-size: 14px;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}
h2,
h3 {
  font-weight: 700;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}
h2 {
  font-size: 3.2rem;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 2.3rem;
  margin-bottom: 1.4rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
  letter-spacing: 1px;
}
p,
a {
  line-height: 1.6;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
}

a:link,
a:hover {
  cursor: pointer;
}
address {
  font-style: normal;
  line-height: 2;
}
img {
  max-width: 100%;
}
input:not(input[type="submit"]),
textarea {
  font-family: "Merriweather", serif;
  padding: 1.2rem;
  border: 0.2rem solid darkslateblue;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: darkslateblue;
}

label {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  background-color: darkslateblue;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  align-self: flex-start;
  margin-bottom: -1rem;
  position: relative;
  z-index: 3;
}
main {
  max-width: 1130px;
  margin: 0 auto;
}

section {
  margin: 2rem 0;
  padding: 3rem 2rem;
}

.color-darkblue {
  color: darkslateblue;
}

.btn {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  background-color: darkslateblue;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  border-radius: 0.5rem;
  letter-spacing: 1px;
}

/* ===== 1.Banner Section ===== */
.section-banner {
  display: flex;
}
.banner-content {
  flex-basis: 40%;
  flex-grow: 1;
}
.banner-title {
  border-left: 0.7rem solid darkslateblue;
  padding-left: 2rem;
}

.banner-content p {
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}
.banner-image-wrapper {
  display: flex;
  justify-content: center;
}
.banner-image-wrapper > div {
  background: linear-gradient(45deg, cyan, darkslateblue);
  width: 80%;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

/* ====== 2.Skill Section ======  */
.section-skill > h2 {
  margin-bottom: 3.5rem;
  text-align: center;
}
.skill-item-container {
  display: flex;
}
.skill-item {
  padding: 2rem;
  margin: 0 1.5rem;
  border-radius: 1rem;
  background-color: rgba(72, 61, 139, 0.3);
  flex-grow: 1;
  flex-basis: 33.33%;
}

.skill-item-container > div:first-child {
  margin-left: 0;
  background-color: rgba(72, 140, 61, 0.3);
}
.skill-item-container > div:last-child {
  margin-right: 0;
  background-color: rgba(139, 61, 72, 0.3);
}

/* ====== 3.Services Sections ====== */
.service-item {
  display: flex;
  margin-bottom: 4rem;
}

.service-image {
  max-width: 40%;
}

.service-content {
  flex-basis: 50%;
  flex-grow: 1;
  align-self: center;
  padding: 3rem;
}

.service-content > p {
  margin-bottom: 2rem;
}

.service-item:nth-child(even) {
  flex-direction: row-reverse;
}

.service-item:nth-child(even) .service-content {
  padding-left: 0;
}

/* ========== 4.Contact Section ========= */
.contact-area {
  display: flex;
}
.contact-info {
  flex-basis: 25%;
  flex-grow: 1;
  max-width: 35%;
  padding-right: 2rem;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contact-form {
  flex-grow: 1;
}
.form-row {
  display: flex;
  flex-grow: 1;
}
.form-row div:not(:last-child) {
  flex-grow: 1;
  margin-right: 2rem;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input[name="subject"],
textarea {
  width: 100%;
}

input[type="submit"] {
  font-size: 1.2rem;
  cursor: pointer;
}

/* ========== Footer ========== */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1.5rem;
}

footer h4 {
  line-height: 1;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
